/* 
@font-face {
    font-family: finalold;
    src: url(FINALOLD.ttf);
  } */
html{

  background-image: url("../images/space2.jpg");
    background-size: cover;
    font-family: 'Space Mono', monospace;
    background-color: black;
}

body{
  background-image: url("../images/space2.jpg");
  background-size:cover;
    /* background-image: url("../images/startTrekBG.jpg"); */
}
  
 

 h1{
  font-size: 6vw;
   color: yellow;
    text-shadow: 2px 2px black;
    text-align: center;
}
.answerDisplay,#displayTotals, #timeDisplay,.displaypage, #totalsDiv0, #totalsDiv1, #totalsDiv2{
    height: 100px;
    width: 75%;
    border: 1px solid blue;
    align-content: center;
    margin: 8px 85px 8px 85px;
    font-size: large;
    color: #ffffff;
    /* margin: 8px 8px 100px 85px; */
}

#displayTime{
height: 100px;
width: 75%;
/* border: 1px solid rgb(229, 229, 238); */
align-content: center;
margin: 8px 40px 8px 100px;
font-size: large;
color: #ffffff;
}
 

 
  
     .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
     .container-fluid {
      display: grid;
      grid-template-columns: auto 700px auto;
      /* background-image: url("../images/startrek.jpg");
      background-size: auto; */
      padding-top: 20px;
      box-sizing: border-box;
      height: 100%;
     
      margin: 0px, 50px, 0px, 50px;
      
    } 
    
    img{
      width: 100%;
    }
    
    #startpage {
        border: 1px solid gray;
        font-size: large;
        align-content: center;
        margin: 8px 8px 100px 85px;
        height: 80px;
        width: 75%;
    }
   
 
.triviacontent{
  background-image: url("../images/DKSpace.jpg");
  background-size: cover;
  box-shadow:  2px 4px 2px 4px black;
  background-color: #06001d; 
    border: 1px solid black;
    height: auto;
    width: 800px;
    margin: 4px;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  font-size: large;
}
 
 
.display{
    font-size: large;
}
#displayPicture{
 
    border: 1px solid yellow;
   opacity: 1;
    margin: 8px 60px 8px 100px;
    height: 350px;
    width: 75%;
    z-index: 0;
}
.displayIntroImage{
 
  border: 1px solid yellow;
 opacity: 1;
  margin: 8px 20px 8px 100px;
  height: 500px;
  width: 75%;
  z-index: 0;
}


#startpage:hover {
  color: grey;
   opacity: 0.3; 
  
}
.answerDisplay:hover {
  color: grey;
   opacity: 0.3; 
}

@media screen and (max-width: 980px) and (min-width: 767){

  .triviacontent{
    margin-top: 100px;
    width: 580px;
   }

   .container-fluid{
		padding: 3% 4%;
  }          
  
} 

@media screen and (max-width: 768px) and (min-width: 639){
 
  .container-fluid{
   width:90%;
 }
 .triviacontent{
  margin-top: 100px;
  width: 580px;
 }

 } 
@media screen and (max-width: 640px){
 img{
    width: 350px;
  }
   
  h1 {
    margin-right: 200px;
  }
  
  
  .triviacontent{
    /* margin-top: 100px; */
    width: 450px;
   }
   .displayIntroImage{
 
    margin: 8px 100px 8px 100px;
    height: 200px;
    width:auto;
    
  }
  #displayPicture{
 
    margin: 8px 8px 8px 8px;
    height: 200px;
    width:350px;
    
  }
  
  .answerDisplay,#displayTotals, #timeDisplay,.displaypage, #totalsDiv0, #totalsDiv1, #totalsDiv2{
    
    margin: 8px 75px 8px 45px;
   
    
}

#displayTime{
 
  margin: 8px 40px 8px 40px;
 
  }
 
  #startpage {
    
    margin: 8px 8px 100px 45px;
    
}

   

    
  }
  

