/* 
@font-face {
    font-family: finalold;
    src: url(FINALOLD.ttf);
  } */
html{

  background-image: url("../images/space2.jpg");
    background-size: cover;
    font-family: 'Space Mono', monospace;
    background-color: black;
}

body{
  background-image: url("../images/space2.jpg");
  background-size:cover;
    /* background-image: url("../images/startTrekBG.jpg"); */
}
  
  /* div {
    font-family: finalold;
  } */

 h1{
   /* background-image: url("../images/startrek.jpg");
  background-size: auto; */
  font-size: 6vw;
   
   
    text-shadow: 2px 2px black;
    color: #ffffff;
    text-align: center;
    /* background-image: url("../images/startTrekBG.jpg"); */
}
.answerDisplay,#displayTotals, #timeDisplay,.displaypage, #totalsDiv0, #totalsDiv1, #totalsDiv2{
    height: 100px;
    width: 75%;
    border: 1px solid blue;
    align-content: center;
    margin: 8px 85px 8px 85px;
    font-size: large;
    color: #ffffff;
    /* margin: 8px 8px 100px 85px; */
}

#displayTime{
height: 100px;
width: 75%;
/* border: 1px solid rgb(229, 229, 238); */
align-content: center;
margin: 8px 40px 8px 100px;
font-size: large;
color: #ffffff;
}
 

 
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
     .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
     .container-fluid {
      display: grid;
      grid-template-columns: auto 700px auto;
      /* background-image: url("../images/startrek.jpg");
      background-size: auto; */
      padding-top: 20px;
      box-sizing: border-box;
      height: 100%;
     
      margin: 0px, 50px, 0px, 50px;
      
    } 
    
    
     
  
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    .questions{
        height: 40px;
        width: 75%;
      
     border: 1px solid black;
    }
    #startpage {
        border: 1px solid gray;
        font-size: large;
        align-content: center;
        margin: 8px 8px 100px 85px;
        height: 80px;
        width: 75%;
    }
    .answer{
        border: 1px solid red;
        height: 300px;
        width: 300px;;
    }
button{
    border: 1px solid red;
    height: 40px;
    width: 100px;
}
.triviacontent{
  box-shadow:  2px 4px 2px 4px black;
  opacity: 0.8;
  background-color: black;
    border: 1px solid black;
    height: auto;
    width: 800px;
    margin: 4px;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  font-size: large;
}

 
.display{
    font-size: large;
}
#displayPicture{
    border: 1px solid yellow;
   opacity: 2.5;
    margin: 8px 20px 8px 100px;
    height: 350px;
    width: 75%;
}

#startpage:hover {
  color: grey;
   opacity: 0.3; 
  
}
.answerDisplay:hover {
  color: grey;
   opacity: 0.3; 
}
